@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Futura";
  src: local("FuturaMedium"), url("./fonts/FuturaMedium.ttf") format("truetype");
}
body {
  font-family: "Jost", sans-serif;
}
/* * {
    font-family: "Futura", sans-serif;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pmButton {
  color: #666666;
  background: transparent;
  width: 32px;
  height: 32px;
  border: 0;
  font-size: 16px;
  position: relative;
  cursor: pointer;
  padding: 0;
}
.pmButton span {
  position: absolute;
  transition: 300ms;
  background: #666666;
  border-radius: 2px;
}

/* Create the "+" shape by positioning the spans absolutely */
.pmButton span:first-child {
  top: 25%;
  bottom: 25%;
  width: 1px;
  left: 50%;
  transform: translateX(-50%);
}

.pmButton span:last-child {
  left: 25%;
  right: 25%;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
}

/* Morph the shape when the button is selected */
.pmButtonSelected span:first-child {
  transform: rotate(90deg);
}

.pmButtonSelected span:last-child {
  left: 50%;
  right: 50%;
}
.slider {
  width: 100%;
  display: flex !important;
  align-items: center;
}
.slick-slider {
  display: flex !important;
  /* justify-content: center; */
  width: 100% !important;

  align-items: center;
}
.slick-initialized .slick-slide {
  display: flex !important;
  /* justify-content: center; */
  align-items: center;
}
.slick-slide {
  width: 100% !important;
}
.slick-slide div {
  width: 100% !important;
}
.slick-track {
  display: flex !important;
  /* justify-content: center !important; */
  gap: 16px;
  /* transform: none !important; */
}
.slick-track::before {
  display: none;
}
.slick-initialized {
  /* overflow: hidden; */
}
.slick-list {
  margin: 0 0 0 16px;
  width: 100%;
}

#fill {
  position: relative;
  /* border: none; */

  &::before,
  &::after {
    content: "";
    transition: 500ms ease;
    position: absolute;
    width: 0px;
    height: 0px;
  }

  &::before {
    top: 0;
    left: 0;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
  }

  &::after {
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
  }

  &:hover::before,
  &:hover::after {
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: transparent;
    color: #08113b;
  }
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;
}
.non-scrollable {
  overflow-y: hidden;
  overflow-x: hidden;
}
/* 
@media only screen and (max-width: 600px) {
  .pmButton {
    width: 16px;
    height: 16px;
  }
} */
